canvas {
  display: block;
  /* Для canvas css координаты и самого canvas элемента отличаются. */
  /* Поэтому необходимо их задавать отдельно */
  width: 100%;
  height: 100%;
}

.webgl-lesson {
  display: block;
  width: 100%;
  height: 100%;
}
