html,
body {
  height: 100%;
  margin: 0;
}

#storybook-root,
#storybook-root > * {
  height: 100%;
}

canvas {
  display: block;
  /* Для canvas css координаты и самого canvas элемента отличаются. */
  /* Поэтому необходимо их задавать отдельно */
  width: 100%;
  height: 100%;
}

.canvas-container {
  display: block;
  width: 100%;
  height: 100%;
}
